@import "./themes/dark-mode.sass"
@import "themes/btn-styling"


body 
    height: 100vh
    font-family: Arial, Helvetica, sans-serif
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px

    .moon-icon
        font-size: 2em
        color: white
        position: absolute
        top: 15px
        right: 15px

    .container
        height: fit-content
        padding: 36px 15px
        width: 70vw
        border-radius: 15px
        text-align: center
      

        .main-content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        
            .words-container
                padding: 20px 10px
                margin-bottom: 15px
                font-size: 1.6em
                line-height: 1.7

                .single-word
                    color: #fff

            .button-container

                .btn
                    @include button
                    
        
        .input-label
            font-size: 1.4em
            color: #b55400
            padding-bottom: 10px

        #user-input
            border-radius: 10px
            margin-top: 15px